
*.bak
.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
*.log
*.jar
*.gz
*.tbl
*.abc
minecraftinstance.json
BotaniaVars.dat
options.txt
patchouli_data.json
reauth.toml
realms_persistence.json
knownkeys.txt
usercache.json
usernamecache.json
logs/
mod_data
saves/
mods/
resourcepacks/
optionsof.txt
crash-reports/
servers.dat
XaeroWorldMap/
XaeroWaypoints/
screenshots/
TrashSlotSaveState.json
config/ichunutil/
servers.dat_old
options.justenoughkeys.txt
optionsshaders.txt
.curseclient
